In [176]:
%reset -f

In [177]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.set_option('display.max_columns', 30)
pd.set_option('display.float_format', lambda x: '%.f' % x)

from myDefs.defs import *

In [178]:
file = SOURCE_DATA_PATH + "anonymous.csv"
df = pd.read_csv(file, sep=',')

In [179]:
print(df.shape)

(1135, 14)

In [180]:
df.head(100)

,code,ימי_אשפוז,מין,גיל,תאריך_ניתוח,סיווג_חולה,שם_הניתוח,מנתח_אחראי,דחיפות,גישה ניתוחית,סיבוכים,kk,simple,severe
0,1135541,nan,נ,43,03/12/2018,Upper GI,OPEN DISTAL SUBTOTAL GASTRECTOMY 436320,NaN,אלקטיבי,פתוח,NaN,1,nan,nan
1,11341892,41,נ,30,03/13/2018,upper GI,DIAGNOSTIC LAPAROSCOPY 493200;OPEN DISTAL SUBT...,NaN,דחוף,LAPAROSCOPIC,Anastomotic Leak,1,nan,1
2,11339133,nan,ז,26,11/21/2018,upper GI,EXPLORATORY LAPAROTOMY 490000;OPEN DISTAL SUBT...,NaN,דחוף,פתוח,Anastomotic Leak,1,1,nan
3,11323824,11,נ,62,07/11/2018,Upper GI,LAPAROSCOPIC REPAIR OF TRAUMATIC DIAPHRAGMATI...,חזן דוד,דחוף,LAPAROSCOPIC,NaN,1,nan,nan
4,11315215,nan,NaN,nan,NaN,Upper GI,OPEN DISTAL SUBTOTAL GASTRECTOMY 436320; OPEN ...,NaN,אלקטיבי,laparoscopic,Anastomotic Leak,1,1,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,104050796,nan,NaN,nan,NaN,Surgical Oncology,EXPLORATORY LAPAROTOMY 490000,NaN,אלקטיבי,פתוח,NaN,1,nan,nan
96,103967297,nan,NaN,nan,NaN,Surgical Oncology,"ABDOMINAL HYSTERECTOMY, TOTAL WITH BSO (T.A.H ...",NaN,אלקטיבי,פתוח,NaN,1,nan,nan
97,103833298,nan,NaN,nan,NaN,Surgical Oncology,DIAGNOSTIC/ STAGING LAPAROSCOPY 493200,NaN,אלקטיבי,laparoscopic,NaN,1,nan,nan
98,103729699,6,ז,37,03/04/2018,Surgical Oncology,CYTOREDUCTIVE SURGERY WITH HIPEC (HYPERTHERMIC...,NaN,אלקטיבי,LAPAROSCOPIC,NaN,1,nan,nan
99,1036413100,5,נ,70,03/07/2018,Surgical Oncology,DIAGNOSTIC LAPAROSCOPY 493200,NaN,אלקטיבי,LAPAROSCOPIC,NaN,1,nan,nan

# Translate Hebrew words

In [181]:
#get the Hebrew words in the data frame
df_hebrew_cells = getHebrewWords(df) 
df_hebrew_cols = pd.DataFrame({"words" : list(df.columns[1:11])})
df_hebrew = pd.concat([df_hebrew_cells, df_hebrew_cols])

In [182]:
#save to file 
dict_path = "{}dictionary_anonymous_file.xlsx".format(DICT_PATH)
#df_hebrew.to_excel(dict_path, index=False, header=False) #uncomment after creating dictionary

In [183]:
#read Hebrew-English dictionary (manually created)
dictionary = pd.read_excel(dict_path, header=None, index_col=0).to_dict()[1]
dictionary

{'נ': 'female',
 'ז': 'male',
 'חזן  דוד': 'Hazan David',
 'ניסן אבירם': 'Nissan Aviram',
 'בן יעקב אלמוג': 'Ben-Yaakov Almog',
 'ברגר יניב': 'Berger Yaniv',
 'שגב ליאור': 'Segev Lior',
 'וסטריך גלי': 'Vestrich Gali',
 'חרמון הילה': 'Hermon Hila',
 'כהן עמיר': 'Cohen Amir',
 'פרידמן אורלי-צפורה': 'Friedman Orly-Zipporah',
 'זיפל דב': 'Zippel Dov',
 'פייגין אניה': 'Feigin Ania',
 'אשכנזי רוני': 'Ashkenazi Roni',
 'גויטיין דוד': 'Goitman David',
 'נבו יהונתן': 'Nevo Jonathan',
 'קליין יורם': 'Klein Yorm',
 'וקסלר-פייגין אניה': 'Wexler-Feigin Ania',
 'ילון טל': 'Yalon Tal',
 'ריימן שלומי': 'Rayman Shlomi',
 'אלקטיבי': 'elective',
 'דחוף': 'urgent',
 'פתוח': 'open',
 'ניתוח רובוטי': 'Robotic surgery',
 'ימי_אשפוז': 'Days of hospitalization',
 'מין': 'Sex',
 'גיל': 'Age',
 'תאריך_ניתוח': 'Date of surgery',
 'סיווג_חולה': 'Patient classification',
 'שם_הניתוח': 'Name of surgery',
 'מנתח_אחראי': 'Responsible surgeon',
 'דחיפות': 'Urgency',
 'גישה ניתוחית': 'Surgical approach',
 'סיבוכים': 'Complications'}

In [184]:
#translate 
df.replace(dictionary, inplace=True)

In [185]:
#translate headers
headers = df.columns
new_headers = [dictionary[header] if header in dictionary 
                else header.title()
               for header in headers]
df.columns = new_headers

In [186]:
#save translated file 
output_path = "{}anonymousTranslated.csv".format(DATA_PATH)
df.to_csv(output_path, sep=',', index=False)